{{>partials/header}}

{{#banner}}
  {{>partials/banner}}
  <h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
    {{#list}}
      {{>partials/itemAnimal}}
    {{/list}}
</div>

{{^list}}
  <div class="container no-list">
    <h2>Não há animais disponiveis nestas condições</h2>
  </div>
{{/list}}

{{>partials/footer}}
